misc/schema/v2.0/resourceTypes/mediaTypes/VideoSpecific.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<!-- edited by Kostas Perifanos, HARRIS PAPAGEORGIOU & Penny Labropoulou (Institute for Language and Speech Processing (ILSP)) -->
<xs:schema xmlns:ms="http://www.ilsp.gr/META-XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ilsp.gr/META-XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="en">
	<xs:include schemaLocation="../../META-SHARE-SimpleTypes.xsd"/>
	<xs:include schemaLocation="../../META-SHARE-BaseTypes.xsd"/>
	<xs:complexType name="videoContentInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the contents of the video part of a resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typeOfVideoContent" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Main type of object or people represented in the video</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="textIncludedInVideo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates if text is present in or in conjunction with the video</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="captions"/>
						<xs:enumeration value="subtitles"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dynamicElementInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups information on the dynamic elements that are represented in the video part of the resource</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="typeOfElement" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The type of objects or people that represented in the video or image part of the resource </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="bodyParts" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The body parts visible in the video or image part of the resource</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="arms"/>
									<xs:enumeration value="face"/>
									<xs:enumeration value="feet"/>
									<xs:enumeration value="hands"/>
									<xs:enumeration value="head"/>
									<xs:enumeration value="legs"/>
									<xs:enumeration value="mouth"/>
									<xs:enumeration value="wholeBody"/>
									<xs:enumeration value="none"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="distractors" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Any distractors visible in the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="interactiveMedia" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Any interactive media visible in the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="faceViews" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the view of the face(s) that appear in the video or on the image part of the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="faceExpressions" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the facial expressions visible in the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="bodyMovement" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the body parts that move in the video part of the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gestures" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the type of gestures visible in the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="handArmMovement" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the movement of hands and/or arms visible in the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="handManipulation" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Gives information on the manipulation of objects by hand</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="headMovement" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the movements of the head visible in the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="eyeMovement" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the movement of the eyes visible in the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="posesPerSubject" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The number of poses per subject that participates in the video part of the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="videoFormatInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the format(s) of a resource; repeated if parts of the resource are in different formats</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:mimeType">
				<xs:annotation>
					<xs:documentation>The mime-type of the resource which is a formalized specifier for the format included or a mime-type that the tool/service accepts; value to be taken from a subset of the official mime types of the Internet Assigned Numbers Authority (http://www.iana.org/)</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="colourSpace" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines the colour space for the video</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RGB"/>
						<xs:enumeration value="CMYK"/>
						<xs:enumeration value="4:2:2"/>
						<xs:enumeration value="YUV"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="colourDepth" type="xs:int" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The number of bits used to represent the colour of a single pixel</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameRate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of frames per second</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:resolutionInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups together information on the image resolution</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-many</relation>
						<inline-type>tabular</inline-type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="visualModelling" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The dimensional form applied on video or image corpus</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2D"/>
						<xs:enumeration value="3D"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fidelity" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines whether blur is present in the moving sequences</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:compressionInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information on the compression status and method of a resource</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerVideoFormat" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to give info on size of parts of a resource that differ as to the format</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="videoClassificationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on video genre of the resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="videoGenre" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A first indication of type of video recorded</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="subject_topic" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For corpora that have already been using subject classification</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:conformanceToClassificationScheme" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the external classification schemes</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerVideoClassification" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to give info on size of parts with different video classification</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="videoFormatInfo" type="ms:videoFormatInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the format(s) of a resource; repeated if parts of the resource are in different formats</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="videoClassificationInfo" type="ms:videoClassificationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on video genre of the resource</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="videoContentInfo" type="ms:videoContentInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the contents of the video part of a resource</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
