misc/schema/v3.0/resourceTypes/mediaTypes/ImageSpecific.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="http://www.ilsp.gr/META-XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ilsp.gr/META-XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0" xml:lang="en">
	<xs:include schemaLocation="../../META-SHARE-SimpleTypes.xsd"/>
	<xs:include schemaLocation="../../META-SHARE-BaseTypes.xsd"/>
	<xs:complexType name="imageContentInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the contents of the image part of a resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typeOfImageContent" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The main types of object or people represented in the image corpus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textIncludedInImage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides information on the type of text that may be on the image</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="captions"/>
						<xs:enumeration value="subtitles"/>
						<xs:enumeration value="captureTime"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="staticElementInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups information on the static element visible on the images</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="typeOfElement" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The type of objects or people that represented in the video or image part of the resource</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="bodyParts" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The body parts visible in the video or image part of the resource</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="arms"/>
									<xs:enumeration value="face"/>
									<xs:enumeration value="feet"/>
									<xs:enumeration value="hands"/>
									<xs:enumeration value="head"/>
									<xs:enumeration value="legs"/>
									<xs:enumeration value="mouth"/>
									<xs:enumeration value="wholeBody"/>
									<xs:enumeration value="none"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="faceViews" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the view of the face(s) that appear in the video or on the image part of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="faceExpressions" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the facial expressions visible in the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="artifactParts" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the parts of the artifacts represented in the image corpus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="landscapeParts" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>landscape parts represented in the image corpus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="personDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Provides descriptive features for the persons represented in the image corpus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="thingDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Provides description of the things represented in the image corpus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="organizationDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Provides description of the organizations that may appear in the image corpus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="eventDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Provides description of any events represented in the image corpus</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="imageFormatInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the format of the image component of the resource </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:mimeType">
				<xs:annotation>
					<xs:documentation>The mime-type of the resource which is a formalized specifier for the format included or a mime-type that the tool/service accepts; value to be taken from a subset of the official mime types of the Internet Assigned Numbers Authority (http://www.iana.org/)</xs:documentation>
					<xs:appinfo>
						<label>Mime type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="colourSpace" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines the colour space for the video</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<!-- <relation>one-to-many</relation> -->
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RGB"/>
						<xs:enumeration value="CMYK"/>
						<xs:enumeration value="4:2:2"/>
						<xs:enumeration value="YUV"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="colourDepth" type="xs:int" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The number of bits used to represent the colour of a single pixel</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:compressionInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information on the compression status and method of a resource</xs:documentation>
					<!-- <xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo> -->
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:resolutionInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups together information on the image resolution</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<inline-type>tabular</inline-type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="visualModelling" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The dimensional form applied on video or image corpus</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="2D"/>
						<xs:enumeration value="3D"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rasterOrVectorGraphics" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the image is stored as raster or vector graphics</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="raster"/>
						<xs:enumeration value="vector"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quality" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the quality level of image resource</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="veryLow"/>
						<xs:enumeration value="low"/>
						<xs:enumeration value="medium"/>
						<xs:enumeration value="high"/>
						<xs:enumeration value="veryHigh"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sizePerImageFormat" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to give info on size of parts of a resource that differ as to the format</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="imageClassificationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the classification of the image corpus</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="imageGenre" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A first indication of the genre of images</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="subject_topic" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For corpora that have already been using subject classification</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:conformanceToClassificationScheme" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the external classification schemes</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerImageClassification" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on size of parts with different image classification</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- elements -->
	<xs:element name="imageFormatInfo" type="ms:imageFormatInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the format of the image part of a resource</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="imageClassificationInfo" type="ms:imageClassificationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on image type/genre of the resource</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="imageContentInfo" type="ms:imageContentInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the contents of the image part of a resource</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
