misc/schema/v3.1/META-SHARE-LanguageMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="http://www.meta-share.org/META-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/META-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.1" xml:lang="en">
	<xs:include schemaLocation="./META-SHARE-SimpleTypes.xsd"/>
	<xs:include schemaLocation="./META-SHARE-RoleTypes.xsd"/>
	<xs:include schemaLocation="./META-SHARE-LicenseMetadata.xsd"/>
	<xs:include schemaLocation="META-SHARE-ISOVocabularies.xsd"/>
	<!-- definition of complex types -->
	<!-- media type info TextInfo/imageInfo/AudioInfo/VideInfo etc-->
	<xs:complexType name="characterEncodingInfoType">
		<xs:annotation>
			<xs:appinfo>
				<label>Character encoding</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:characterEncoding">
				<xs:annotation>
					<xs:documentation>The name of the character encoding used in the resource or accepted by the tool/service</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Character encoding</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!--
			<xs:element name="characterSet" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			-->
			<xs:element name="sizePerCharacterEncoding" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on the size of the resource parts with different character encoding</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per character encoding</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="timeCoverageInfoType">
		<xs:annotation>
			<xs:appinfo>
				<label>Time coverage</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timeCoverage">
				<xs:annotation>
					<xs:documentation>The time period that the content of a resource is about</xs:documentation>
					<xs:appinfo>
						<label>Time coverage</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sizePerTimeCoverage" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on size per time period represented in the resource</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per time coverage</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geographicCoverageInfoType">
		<xs:sequence>
			<xs:element name="geographicCoverage">
				<xs:annotation>
					<xs:documentation>The geographic region that the content of a resource is about; for countries, recommended use of ISO-3166</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Geographic coverage</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sizePerGeographicCoverage" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on size per geographically distinct section of the resource</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per geographic coverage</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="lingualityInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{lingualityType}</render-short>
				<label>Linguality</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lingualityType">
				<xs:annotation>
					<xs:documentation>Indicates whether the resource includes one, two or more languages</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Linguality type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:enumeration value="monolingual"/>
						<xs:enumeration value="bilingual"/>
						<xs:enumeration value="multilingual"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="multilingualityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the corpus is parallel, comparable or mixed</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Multilinguality type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="parallel"/>
						<xs:enumeration value="comparable"/>
						<xs:enumeration value="multilingualSingleText">
							<xs:annotation>
								<xs:documentation>for single texts that contain multiple language excerpts; e.g. european parliament discussions</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="multilingualityTypeDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides further information on multilinguality of a resource in free text</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Multilinguality type details</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--
			<xs:element ref="ms:modalityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>information on modality</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
            -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="languageVarietyInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{languageVarietyName} ({languageVarietyType})</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="languageVarietyType">
				<xs:annotation>
					<xs:documentation>Specifies the type of the language variety that occurs in the resource or is supported by a tool/service</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Language variety type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:enumeration value="dialect"/>
						<xs:enumeration value="jargon"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ms:languageVarietyName">
				<xs:annotation>
					<xs:documentation>The name of the language variety that occurs in the resource or is supported by a tool/service</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Language variety name</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerLanguageVariety" type="ms:sizeInfoType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides information on the size per language variety component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per language variety</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="languageName" type="ms:languageNameType">
		<xs:annotation>
			<xs:documentation>A human understandable name of the language that is used in the resource or supported by the tool/service, as specified in the BCP47 guidelines (https://tools.ietf.org/html/bcp47); the guidelines includes (a) language subtag according to ISO 639-1 and for languages not covered by this, the ISO 639-3; (b) the script tag according to ISO 15924; (c) the region tag according to ISO 3166-1;  (d) the variant subtag</xs:documentation>
			<xs:appinfo>
				<label>Language name</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageId">
		<xs:annotation>
			<xs:documentation>The identifier of the language that is included in the resource or supported by the tool/service, according to the IETF BCP47 guidelines</xs:documentation>
			<xs:appinfo>
				<label>Language identifier</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="languageInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{languageName} {languageVarietyInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:languageId">
				<xs:annotation>
					<xs:documentation>The identifier of the language that is included in the resource or supported by the tool/service, according to the IETF BCP47 guidelines</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Language identifier</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:languageName">
				<xs:annotation>
					<xs:documentation>A human understandable name of the language that is used in the resource or supported by the tool/service, as specified in the BCP47 guidelines (https://tools.ietf.org/html/bcp47); the guidelines includes (a) language subtag according to ISO 639-1 and for languages not covered by this, the ISO 639-3; (b) the script tag according to ISO 15924; (c) the region tag according to ISO 3166-1;  (d) the variant subtag</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Language name</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="languageScript" type="ms:languageScriptNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the writing system used to represent the language in form of a four letter code as it is defined in ISO-15924</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Language script</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="region" type="ms:regionNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the region where the language of the resource is spoken (e.g. for English as spoken in the US or the UK etc.)</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>region</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="variant" type="ms:variantNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the variant of the language of the resource is spoken (according to IETF BCP47)</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>variant</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerLanguage" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on the size per language component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per language</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:languageVarietyInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on language varieties occurred in the resource (e.g. dialects)</xs:documentation>
					<xs:appinfo>
						<label>Language variety</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- defintion of elements -->
	<xs:element name="characterEncodingInfo" type="ms:characterEncodingInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on character encoding of the resource</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Character encoding</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="timeCoverageInfo" type="ms:timeCoverageInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on time classification of the resource</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Time coverage</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="geographicCoverageInfo" type="ms:geographicCoverageInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on geographic classification of the resource</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Geographic coverage</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="lingualityInfo" type="ms:lingualityInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the number of languages of the resource part and of the way they are combined to each other</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Linguality</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageInfo" type="ms:languageInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the languages represented in the resource</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Language</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageVarietyInfo" type="ms:languageVarietyInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on language varieties occurred in the resource (e.g. dialects)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Language variety</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageVarietyName">
		<xs:annotation>
			<xs:documentation>The name of the language variety that occurs in the resource or is supported by a tool/service</xs:documentation>
			<xs:appinfo>
				<label>Language variety name</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
